<!DOCTYPE html>
<html>
  <head>
    <title>Another Page</title>
  </head>
  <body>
    <h1>Welcome, {{ session['user_id'] }}!
        {% if session['user_type'] == 'employer' %}
            <p>You are an employer!</p>
        {% elif session['user_type'] == 'job_seeker' %}
            <p>You are a job seeker!</p>
        {% endif %}
    </h1>


    <a href="/blog">Blog</a>
    <a href="/people">People</a>
    {% if session['user_type'] == 'job_seeker' %}
    <a href="/job">Job</a>
    <a href="/job_seeker_profile">My Profile</a>
    
    {%else%}
    <a href="/post_job">Post a Job</a>
    <a href="/view_applicants">View Applicants</a>
    {% endif %}
    
  </body>
</html>